# Drizzle
DATABASE_URL=local.db

SUPABASE_SERVICE_ROLE_KEY=
DATABASE_PROXY_URL=https://example.com
DATABASE_PROXY_SECRET=00100000

ORIGIN="http://localhost:5173"

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET="80524522-3d10-4444-ab20-2b5e68080aef"

# GitHub OAuth
# https://www.better-auth.com/docs/authentication/github
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# Google OAuth
# https://better-auth.com/docs/authentication/google
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

POLAR_SERVER="sandbox"
POLAR_ACCESS_TOKEN=
POLAR_SUCCESS_URL="http://localhost:5173/billing?checkout_id={CHECKOUT_ID}"
POLAR_PRODUCT_ID="7582abd1-8946-43e3-bc5b-64e9bdd1392c"